@model BlogDevelopment.Models.ViewModels.ProfileViewModel

<h2>Профиль пользователя</h2>

<div class="profile">
    <p><strong>Имя пользователя:</strong> @Model.UserName</p>
    <p><strong>Email:</strong> @Model.Email</p>

    <h4>Роли пользователя</h4>
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>@role</li>
        }
    </ul>
</div>

<div class="articles">
    <h3>Мои статьи</h3>
    @if (Model.Articles.Any())
    {
        <ul>
            @foreach (var article in Model.Articles)
            {
                <li>
                    <a href="@Url.Action("Details", "Article", new { id = article.Id })">@article.Title</a>
                    - @article.Description
                        <div class="tags">
                            <strong>Теги:</strong>
                            @foreach (var tag in article.Tags)
                            {
                                <span class="tag">@tag.Name</span> <!-- Выводим название каждого тега -->
                            }
                        </div>
                        <hr />
                   
                </li>
            }
        </ul>
    }
    else
    {
        <p>У вас пока нет статей.</p>
    }
</div>

<div>
    <a class="btn-create" href="@Url.Action("Create", "Article")">Создать статью</a>
</div>